<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: 'Sora', sans-serif;
        font-style: normal;
      }
      .circleGraphics {
        width: 592px !important;
        @media only screen and (max-width: 600px) {
          background: url('https://miss-universe.s3.amazonaws.com/Order-Confirmation-Round-Mobile.png')
            no-repeat !important;
          width: auto !important;
        }
      }
      .font-small {
        @media only screen and (max-width: 600px) {
          font-size: 14px !important;
        }
      }
    </style>
  </head>
  <body
    style="
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    "
  >
    <div
      style="
        max-width: 668px;
        margin: 0 auto;
        background: url('<%=`${userinfo.s3BucketPath}/Right-Curve.png`%>'),
          #131e29;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 100% 100%;
      "
    >
      <table align="center">
        <tbody>
          <tr>
            <td align="center">
              <img
                src="<%=`${userinfo.s3BucketPath}/Email+Image+1.png`%>"
                height="386"
                width="368"
              />
            </td>
          </tr>

          <tr>
            <td>
              <div
                style="
                  background: url('<%=`${userinfo.s3BucketPath}/Resend-OTP-Round.png`%>')
                    no-repeat;
                  height: 105px;
                  background-size: 100% 100%;
                "
                class="circleGraphics"
              >
                <p
                  style="
                    color: #be9b57;
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding-top: 40px;
                    text-align: center;
                    margin: 0;
                  "
                  class="showTitle"
                >
                  RESET YOUR PASSWORD
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p
                style="
                  color: #FFF;
                  font-size: 36px;
                  font-weight: 700;
                  text-align: left;
                  max-width: 421px;
                  padding: 40px 0 0;
                  margin: 0;
                "
              >
                Hi <%=`${userinfo?.name ? userinfo?.name : userinfo?.user?.name}`%>,
              </p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p
                style="
                  color: #FFF;
                  font-size: 16px;
                  font-weight: 400;
                  max-width: 415px;
                  text-align: left;
                "
              >
              Please go to the link below to reset your password.
              </p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p
                style="
                  font-size: 16px;
                  font-weight: 400;
                  max-width: 415px;
                  text-align: left;
                "
              >
                <a
                  href="<%=`${userinfo.forgotPasswordLink}`%>"
                  style="color: #3EC4D5"
                  >Reset password</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 150px"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>